@import url('https://fonts.googleapis.com/css2?family=Courier+Prime');

:root {
  --primary: hsl(0, 0%, 0%);
  --secondary: hsl(0, 0%, 75%);
  --background: hsl(0, 0%, 100%);
}

[data-theme='dark'] {
  --primary: hsl(0, 0%, 100%);
  --secondary: hsl(0, 0%, 25%);
  --background: hsl(0, 0%, 0%);
}

body {
  font-family: 'Courier Prime', monospace;
  background-color: var(--background);
  color: var(--primary);
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.text {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.footer {
  margin-top: 2rem;
}

.footer * {
  color: var(--secondary);
  text-decoration: none;
  cursor: pointer;
}
